main {
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  height: 100vh;

  app-tracker {
    flex-basis: 31%;
  }
}
